.twitter.feed {
  margin: 10px;
}

.twitter.feed .tweets {
  list-style: none;
  margin: 0;
  padding: 0;
}

.twitter.feed .tweet,
.twitter.feed .report {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  padding: 8px;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.twitter.feed .tweet {
  min-height: 60px;
  color: #555;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 8px #ccc;
}

.twitter.feed .report {
  position: relative;
  color: #777;
}

.twitter.feed .report .item {
  text-shadow: -1px -1px 1px #fff;
}

.twitter.feed .report .item .highlight {
  font-weight: bold;
}

.twitter.feed .report .tracked-terms {
  position: relative;
  left: 0;
}

.twitter.feed .report .tweet-count {
  position: absolute;
  right: 8px;
}

.twitter.feed .tweet.empty {
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

.twitter.feed .avatar {
  float: left;
}

.twitter.feed .content {
  padding-left: 55px;
}

.twitter.feed .avatar {
  border-radius: 3px;
}

.twitter.feed .tweet .user {
  margin: 0;
  padding-left: 5px;
  padding-bottom: 5px;
}

.twitter.feed .tweet .text {
  margin: 0;
  padding-left: 5px;
}

.twitter.feed .user .name {
  font-weight: bold;
  padding-right: 10px;
}

.twitter.feed .user .login {
  color: #aaa;
  font-size: 12px;
}
