doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title AngularJS Directives: Extending the HTML Vocabulary

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/monokai_sublime.css')
    link(rel='stylesheet', type='text/css', href='build/tw.feed.css')

  body

    article

      section
        img.logo(src='images/tw_logo.png')
        div.title
          h2 AngularJS Directives
          h4 Extending The HTML Vocabulary
        div.presenter
          span.name Diego Borges
          span.twitter
            img.tw(src="images/tw.jpg")
            span.username @dr_borges

      section
        div.title
          h2 Agenda
        br
        ol
          li Why Would I Do That?
          li Extending The HTML Vocabulary
          li Directives Lifecycle
          li Quirks and Tricks

      section
        div.title
          h2 Why Would I Do That?
        div.quote
          q Web Components usher in a new era of web development based on <b>encapsulated</b> and <b>interoperable</b> custom elements that extend HTML itself
          p.author by Polymer Project
          img(src="images/p-logo.svg" width=40 height=40)

        pre
          code.html.
            &lt;!-- Import element --&gt;
            &lt;link rel=&quot;import&quot; href=&quot;google-map.html&quot;&gt;

            &lt;!-- Use element --&gt;
            &lt;google-map lat=&quot;37.790&quot; long=&quot;-122.390&quot;&gt;&lt;/google-map&gt;

      section
        div.title
          h2 Extending The HTML Vocabulary
        ul
          li
            p Spare me the details :)
            pre
              code.html.
                &lt;tw-feed track=&quot;#AngularJS #POA #MeetUp&quot;&gt;&lt;/tw-feed&gt;
          li
            p How about composability?
            pre
              code.html.
                &lt;tw-feed track=&quot;#AngularJS #POA #MeetUp&quot;&gt;
                  &lt;tw-report&gt;&lt;/tw-repot&gt;
                &lt;/tw-feed&gt;

      section
        div.title
          h2 Demo: Twitter Feed
        div.github
          img.github(src="images/github.png" width=30 height=30)
          span drborges/angularjs-twitter-feed

      section
        div.title
          h2 Directive Lifecycle
        ul
          li
            pre
              code.html.
                &lt;html&gt;
                  &lt;head&gt;&lt;/head&gt;
                  &lt;body ng-app=&quot;twTwitter&quot;&gt;

                    &lt;tw-feed track=&quot;#AngularJS #POA #MeetUp&quot;&gt;
                      &lt;tw-report&gt;&lt;/tw-report&gt;
                    &lt;/tw-feed&gt;

                  &lt;/body&gt;
                &lt;/html&gt;
          li
            p Matching Directives: data-tw-feed, data-tw:feed, tw:feed, tw-feed ...
          li
            pre
              code.javascript.
                var element = $compile(template)($scope)
          li
            p Compile Template --> Link to Scope

      section
        div.title
          h2 Quirks & Tricks

      section
        div.title
          h2 Directive Overview
        pre
          code.javascript.
            &lt;tw-feed track=&quot;#AngularJS #POA #MeetUp&quot;&gt;&lt;/tw-feed&gt;
          code.javascript.
            &lt;div tw:feed track=&quot;#AngularJS #POA #MeetUp&quot;&gt;&lt;/div&gt;
        pre
          code.javascript.
            myApp.directive('twFeed', function (TwitterFeed) {
              return {
                restrict: 'EA',
                transclude: true,
                templateUrl: '/static/js/modules/tw.twitter/templates/tw.feed.html',

                scope: {
                  trackingTerms: '@track' // or '=track' or '&callback'
                },

                // compile: function (element, attr) {
                //   return function postLink(scope, element, attr) { ... }
                // },

                // link: {
                //   pre: function preLink(scope, iElement, iAttrs, controller) { ... },
                //   post: function postLink(scope, iElement, iAttrs, controller) { ... }
                // },

                link: function (scope, element, attrs, controller) {  /* ...  */ },
                controller: function ($scope) { /* ... */ }
              };
            });

      section
        div.title
          h2 Unit Testing
          h4 Test Structure
        pre
          code.javascript.
            describe('MyModule', function () {
              var $compile, $scope, MyService

              beforeEach(<i class="highlight">module</i>('MyModule', 'AnotherModule'))
              beforeEach(<i class="highlight">inject</i>(function (_$compile_, $rootScope, _MyService_) {
                $compile = _$compile_
                $scope = $rootScope
                MyService = fixtures.mockService(_MyService_)
              }))

              describe('Scenario', function () {
                it('Test Case 1', function () { /* Omitted code */ })
                it('Test Case 2', function () { /* Omitted code */ })
              })
            })

      section
        div.title
          h2 Unit Testing
          h4 Accessing Isolated Scope
        pre
          code.javascript.
            it('Test case description', function () {
              var element = $compile('&lt;tw:feed&gt;&lt;/tw:feed&gt;')($scope)
              $scope.$digest()

              element<i class="highlight">.isolateScope()</i>.trackingTerms = '#angularjs, #poa'
              $scope.$digest()

              // Omitted expectations
            })

      section
        div.title
          h2 Unit Testing
          h4 Accessing Directive's Controller
        pre
          code.javascript.
            it('Test case description', function () {
              var template = '&lt;tw:feed track="#angularjs"&gt;&lt;/tw:feed&gt;'

              var element = $compile(template)($scope)
              $scope.$digest()

              var api = element<i class="highlight">.controller</i>('twFeed')

              // Omitted expectations
            })

      section
        div.title
          h2 Unit Testing
          h4 Directive With TemplateURL
        ul
          li
            p gulp-angular-templatecache
          li
            pre
              code.javascript.
                var myApp = angular.module('myApp', []);
                myApp.run(function(<i class="highlight">$templateCache</i>) {
                  $templateCache<i class="highlight">.put</i>('templateId.html', 'This is the content of the template');
                });
          li
            pre
              code.javascript.
                var templateCache = require('gulp-angular-templatecache')

                gulp.task('concat.templates', function () {
                  var options = {
                    standalone: true,
                    module: 'twTwitter.templates',
                    root: '/static/js/modules/'
                  }
                  return gulp.src(files.src.app.templates)
                    .pipe(<i class="highlight">templateCache</i>(options))
                    .pipe(gulp.dest(files.bundle.path))
                })
          li
            pre
              code.javascript.
                beforeEach(module('twTwitter.directives.twFeed', <i class="highlight">'twTwitter.templates'</i>))
      section
        div.title
          h2 Directive-to-Directive Communication
        pre
          code.javascript.
            myApp.directive('twFeed', function (<i class="highlight">TwitterFeed</i>) {
              return {
                // Omitted code
                controller: function ($scope, $element, $attrs) {
                  var api = this;

                  // Omitted code

                  api.on = function (event, listener) {
                    listeners[event].push(listener);
                  };
                }
              };
            });

          code.javascript.
              myApp.directive('twReport', function () {
                return {
                  // Omitted code
                  require: '<i class="highlight">^twFeed</i>',
                  link: function (scope, element, attrs, <i class="highlight">feedApi</i>) {
                    scope.tweetCount = 0;

                    // Omitted code

                    feedApi.on('tweet', function (tweet) {
                      scope.$apply(function () {
                        scope.tweetCount += 1;
                      });
                    });
                  },
                }
              });

      section
        div.title
          h3 &#x3C;tw:questions&#x3E;?&#x3C;/tw:questions&#x3E;

      section
        img.logo(src='images/tw_logo.png')
        div.title
          h2 Thanks
        div.presenter
          span.name Diego Borges
          span.twitter
            img.tw(src="images/tw.jpg")
            span.username @dr_borges

    script(src='build/build.js')
    script(src='build/highlight.pack.js')
    script(src='build/vendor/socket.io.js')
    script(src='build/vendor/jquery.min.js')
    script(src='build/vendor/angular.min.js')
    script(src='build/vendor/tw.feed.min.js')
    script(src='build/vendor/tw.feed.templates.js')
    script(type='text/javascript').
      hljs.initHighlightingOnLoad();
