// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'highlightjs/styles/monokai_sublime.css'
// Check out "bower_components/prism/themes/" for available themes

.logo
  width 200px
  height 60px
  margin-bottom 50px

.highlight, .highlight *
  color red !important
  font-style normal
  font-weight bold

.tw
  width 15px
  height 15px
  margin-left 15px
  margin-right 15px

section
  padding 10px !important

pre
  margin 0
  padding 0 !important
  display inline-flex

pre code
  text-align left
  font-size 9px
  margin 5px
  border-radius 3px
  box-shadow: 0px 0px 7px #777;

.quote
  margin 10px
  color #666
  font-size 14px
  font-style italic

.author
  font-style italic
  font-size 10px
  font-weight bold

.github
  vertical-align middle
  font-size 12px

h2
  margin 0

h3
  margin 0

p
  font-size 12px
  margin 0

ol
  text-align left

body
  background-color #000

section
  background-color #fff !important

.presenter
  margin-top 80px
  font-size 12px

.title
  margin 20px
  padding 20px
  border-top 1px solid #000
  border-bottom 1px solid #000
